* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    padding: 10vh 0;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.player-header {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 3.5rem;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.board-row {
    display: flex;
}

.board-cell {
    background-color: lightgray;
    border: 2px solid black;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.s-5 {
    background-color: mediumpurple;
}

.s-4 {
    background-color: tan;
}

.s-3 {
    background-color: mediumseagreen;
}

.control {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.label {
    font-size: 2.5rem;
    font-style: oblique;
}

.orientation-placement {
    padding: 15px;
    background-color: lightskyblue;
    border-radius: 5px;
    font-size: 1.3rem;
}